<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="stylesheet" href="/Footer.ejs">
</head>
<body>
    <section class="ConnectSection">
        <p class="FooterText">Source code on github</p>
        <a href="https://github.com/SANKALP1011/HOMEDATABASE"><i class="fab fa-github fa-2x"></i></a>
      </section>
</body>
</html>