<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" integrity="sha512-wnea99uKIC3TJF7v4eKk4Y+lMz2Mklv18+r4na2Gn1abDRPPOeef95xTzdwGD9e6zXJBteMIhZ1+68QC5byJZw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <form action="/Login">
        <div class="flex items-center justify-center h-screen bg-gray-100">
            <div class="bg-white py-6 rounded-md px-10 max-w-lg shadow-md">
              <h1 class="text-center text-lg font-bold text-gray-500">Form Register</h1>
              <div class="space-y-4 mt-6">
                <div class="w-full">
                  <input type="text" placeholder="fullname" name="FullName" class="px-4 py-2 bg-gray-50" />
                </div>
                <div class="w-full">
                  <input type="text" placeholder="username" name="CompanyName" class="px-4 py-2 bg-gray-50" />
                </div>
                <div class="w-full">
                  <input type="text" placeholder="email" name="Email" class="px-4 py-2 bg-gray-50" />
                </div>
                <div class="w-full">
                  <input type="text" placeholder="password" name="Password" class="px-4 py-2 bg-gray-50" />
                </div>
              </div>
              <button class="w-full mt-5 bg-indigo-600 text-white py-2 rounded-md font-semibold tracking-tight">Register</button>
            </div>
          </div>
    </form>
</body>
</html>