body{
    background-color: black;
}
.Insert{
    margin: 10% 10% 10% 10%;
    border-radius: 50px;
}
.InsertInfo{
    border-radius: 50px;
    background: radial-gradient(ellipse farthest-side at 76% 77%, rgba(245, 228, 212, 0.25) 4%, rgba(255, 255, 255, 0) calc(4% + 1px)), radial-gradient(circle at 76% 40%, #fef6ec 4%, rgba(255, 255, 255, 0) 4.18%), linear-gradient(135deg, #ff0000 0%, #000036 100%), radial-gradient(ellipse at 28% 0%, #ffcfac 0%, rgba(98, 149, 144, 0.5) 100%), linear-gradient(180deg, #cd6e8a 0%, #f5eab0 69%, #d6c8a2 70%, #a2758d 100%); background-blend-mode: normal, normal, screen, overlay, normal;
}
.InsertText{
    font-weight: bolder;
    font-size: 75px;
    margin: 2% 2% 2% 10%;
}
.InsertSubText{
    opacity: 0.5;
    padding: 2% 2% 2% 10%;
    font-weight: bolder;
}
.AddForm{
    padding: 2% 5% 2% 10%;
    text-align: center;
}
.FormBox{
    padding: 2% 10% 2% 10%;
    text-align: center;
}
.AddButton{
   margin: 2% 2% 2% 2%;
}
::placeholder{
    opacity: 1;
    color: thistle;
    text-align: center;
}
